name: docker-ci

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/docker-*.yml'
      - 'docker/**'
    # uses semver with prefix to keep image tags independent from action tags
    tags:
      - 'docker-[0-9]+.[0-9]+.[0-9]+'

env:
  DOCKER_REPOSITORY: hckops

jobs:
  docker-base:
    name: Docker base
    runs-on: ubuntu-latest
    # makes sure it doesn't finish the minutes quota if stalls
    timeout-minutes: 10

    strategy:
      matrix:
        images:
          - file: Dockerfile.base
            name: kube-base

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      # skips notification
      - name: Docker CI
        uses: ./docker-template-action
        with:
          DOCKER_CONTEXT: ./docker
          DOCKER_FILE: ${{ matrix.images.file }}
          DOCKER_IMAGE_NAME: ${{ matrix.images.name }}
          DOCKER_REPOSITORY: ${{ env.DOCKER_REPOSITORY }}
          # default tag is sha
          DOCKER_TAG_PREFIX: 'docker-'
          # repository secrets: gh-actions-rw
          SECRET_DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          SECRET_DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  
  docker-all:
    # runs in sequence: depends on previous jobs to complete
    needs: docker-base

    name: Docker all
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # runs jobs in parallel: alternative to loop
    strategy:
      matrix:
        images:
          - file: Dockerfile.argo
            name: kube-argo
          - file: Dockerfile.do
            name: kube-do
          - file: Dockerfile.aws
            name: kube-aws

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Docker CI
        uses: ./docker-template-action
        with:
          DOCKER_CONTEXT: ./docker
          DOCKER_FILE: ${{ matrix.images.file }}
          DOCKER_IMAGE_NAME: ${{ matrix.images.name }}
          DOCKER_REPOSITORY: ${{ env.DOCKER_REPOSITORY }}
          DOCKER_TAG_PREFIX: 'docker-'
          SECRET_DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          SECRET_DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          SECRET_DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
